{
    "configuration": {
      "host": "localhost",
      "port": 1234,
      "endpoint": "paraview",
      "log_dir": "./launcher",
      "proxy_file": "proxy-mapping.txt",
      "sessionURL": "ws://localhost:8081/proxy?sessionId=${id}&path=ws",
      "timeout": 25,
      "sanitize": {},
      "fields": []
    },
    "resources": [
      {
        "host": "localhost",
        "port_range": [
          9000,
          9500
        ]
      }
    ],
    "properties": {},
    "apps": {
      "trame": {
        "cmd": [
          "python",
          "./server/vtkpython/vtk_server.py",
          "--host",
          "${host}",
          "--port",
          "${port}",
          "--authKey",
          "${secret}"
        ],
        "ready_line": "Starting factory"
      }
    }
  }